/* styles.css */

body {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.linkedin-icon {
    background-image: url('linkedin.png');
    width: 18px;
    height: 18px;
    background-size: cover;
    display: inline-block;
    margin-left: 5px;
}

.cart-icon {
    background-image: url('cart_icon.png');
    width: 30px;
    height: 30px;
    background-size: cover;
}



/* Add spacing to the upgrade button in membership page */
.btn-upgrade {
    margin: 20px 20px;
}









