/* styles.css */

body {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.linkedin-icon {
    background-image: url('linkedin.png');
    width: 18px;
    height: 18px;
    background-size: cover;
    display: inline-block;
    margin-left: 5px;
}

.cart-icon {
    background-image: url('cart_icon.png');
    width: 30px;
    height: 30px;
    background-size: cover;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    border: 1px solid black;

}

.student-table th,
.student-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid black;
}

.student-table th {
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.student-table tbody tr:hover {
    background-color: #f2f2f2;
}

.button-space {
    margin-top: 30px;
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .jumbotron {
    padding: 20px;
  }
}

/* Custom styles for the "My Account" page */

.container2{
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}


/* Style the "My Account" table */
.my-account-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid black;

}

.my-account-table th,
.my-account-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid black;
}

.my-account-table th,td {
  background-color: #f2f2f2;
    text-align: center;
}

/* Add spacing to the upgrade button in membership page */
.btn-upgrade {
    margin: 20px 20px;
}









