{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron mt-4 pt-5 bg-light text-dark">
        <h2 class="display-4 text-center mb-4"><strong>About Us</strong></h2>
        <p class="lead">eAcademy is a leading online learning platform that offers high-quality courses in various disciplines. Our mission is to provide accessible and affordable education to learners around the world.</p>
        <p>Explore our diverse course catalog and enhance your skills with expert-led instruction. Whether you're a beginner or an experienced professional, there's something for everyone at eAcademy.</p>
        <p>Join thousands of students who have already benefited from our courses and take the next step in your educational journey with eAcademy.</p>
    </div>

    <div class="text-center mt-5">
        <h2 class="mb-4">Meet Our Team</h2>
        <ul class="list-unstyled">
            <li class="mb-3">Rishabh Pahwa <a href="https://www.linkedin.com/in/rishabh-pahwa" target="_blank" class="linkedin-icon"><i class="fab fa-linkedin"></i></a></li>
            <li class="mb-3">Tanmay Verma <a href="https://www.linkedin.com/in/tanmayverma24" target="_blank" class="linkedin-icon"><i class="fab fa-linkedin"></i></a></li>
            <li class="mb-3">Aashi Thakkar <a href="https://www.linkedin.com/in/aashithakkar29" target="_blank" class="linkedin-icon"><i class="fab fa-linkedin"></i></a></li>
            <li class="mb-3">Sahil Soni <a href="https://www.linkedin.com/in/lialh4" target="_blank" class="linkedin-icon"><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <p class="lead">Our dedicated team of professionals is passionate about education and committed to providing you with the best learning experience. Feel free to connect with us on LinkedIn and stay updated with our latest developments.</p>
    </div>
</div>
{% endblock %}
