{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Online Learning Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'eAcademyApp/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">eAcademy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Left Section -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if request.path == '/courses/' %}active{% endif %}">
                    <a class="nav-link" href="/courses/">Courses</a>
                </li>

                <!-- Show/Hide membership section -->
                {% if request.user.is_authenticated and not request.user.student.isteacher and not request.user.is_superuser %}
                    <li class="nav-item {% if request.path == '/membership/' %}active{% endif %}">
                        <a class="nav-link" href="/membership/">Membership</a>
                    </li>
                {% endif %}

                <!-- Show/Hide student management section -->
                {% if request.user.is_authenticated and request.user.student.isteacher %}
                    <li class="nav-item {% if request.path == '/student-management/' %}active{% endif %}">
                        <a class="nav-link" href="/student/">Student Management</a>
                    </li>
                {% endif %}

                <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                    <a class="nav-link" href="/contact/">Contact</a>
                </li>
                <li class="nav-item {% if request.path == '/aboutus/' %}active{% endif %}">
                    <a class="nav-link" href="/aboutus/">About Us</a>
                </li>
            </ul>

            <!-- Right Section -->
            <ul class="navbar-nav">
                <!-- Cart Button -->
                {% if request.user.is_authenticated and not request.user.student.isteacher and not request.user.is_superuser %}
                    <li class="nav-item {% if request.path == '/cart/' %}active{% endif %}">
                        <a class="nav-link" href="/cart/">
                            <div class="cart-icon"></div>
                        </a>
                    </li>
                {% endif %}

                <!-- Display login and logout buttons -->
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li class="nav-item {% if request.path == '/instructor-requests/' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'eAcademyApp:instructor_requests' %}">Instructor Requests</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout/">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if request.path == '/accounts/login/' %}active{% endif %}">
                        <a class="nav-link" href="/accounts/login/">Login</a>
                    </li>
                    <li class="nav-item {% if request.path == '/accounts/register/' %}active{% endif %}">
                        <a class="nav-link" href="/accounts/register/">Register</a>
                    </li>
                {% endif %}
            </ul>

            <!-- My Account link for student users -->
{#            {% if user.is_authenticated and user.student %}#}
            {% if request.user.student and not request.user.student.isteacher %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'eAcademyApp:my_account' %}">My Account</a>
                    </li>
                </ul>
            {% endif %}


        </div>
    </nav>

    <!-- Display messages -->
    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>
