<!-- course.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>Courses</h1>
        <div class="row">
            <div class="col-md-6">
                {% if user.is_authenticated and user.student.isteacher %}
                    <a href="/courses/create" class="btn btn-success mt-3 mb-3">Create New Course</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="course-list">
                    {% for course in courses %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ course.title }}</h5>
                                <p class="card-text">{{ course.description }}</p>
                                <p class="card-text">Instructor: {{ course.instructor.username }}</p>
                                <a href="{{ course.files.url }}" class="btn btn-primary">Download Course Outline</a>
                                {% if user.is_authenticated and not user.student.isteacher %}
                                    {% if user.student.is_course_in_cart %}
                                        <form method="post" action="{% url 'eAcademyApp:remove_from_cart' course.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Remove from Cart</button>
                                        </form>
                                    {% else %}
                                        <form method="post" action="{% url 'eAcademyApp:add_to_cart' course.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-success">Add to Cart</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                        <p>No courses available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
