{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Welcome to eAcademy Online Learning!</h1>
            <p class="lead">Start your learning journey with our wide range of courses.</p>
        </div>

        <div class="text-center mt-5">
            <h2>Start Your Learning Journey Today!</h2>
            <p>Join eAcademy and unlock a world of knowledge and opportunities. Browse our courses and enroll in your preferred subjects. Begin your educational adventure with us!</p>
            <a class="btn btn-primary" href="/courses/">Browse Courses</a>
        </div>
    </div>

{% endblock %}
