{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>My Courses</h2>
    <div class="row">
      {% if is_student %}
        {% if courses %}
          <ul class="list-group">
            {% for course in courses %}
              <li class="list-group-item">{{ course.title }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No courses enrolled yet.</p>
        {% endif %}
      {% else %}
        {% if courses %}
          <ul class="list-group">
            {% for course in courses %}
              <li class="list-group-item">{{ course.title }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No courses created yet.</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
