{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container2">
    <h1>My Account</h1>

        <table class="my-account-table">
            <tbody>
                <tr>
                    <th>Username:</th>
                    <td>{{ student_user.user.username }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ student_user.email }}</td>
                </tr>
                <tr>
                    <th>Attendance:</th>
                    <td>{{ student_user.attendance }}</td>
                </tr>
                <tr>
                    <th>Grade:</th>
                    <td>{{ student_user.grade }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
