<!-- register.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <label for="membership_type">Membership Type:</label>
                <select class="form-control" id="membership_type" name="membership_type">
                    {% for choice in form.membership_type.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}
