{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <h1>Student List</h1>
    <table class="student-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Attendance</th>
                <th>Views</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.attendance }}</td>
                <td>{{ student.views }}</td>
                <td>{{ student.grade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
